{#
    This template provides a content section to welcome the created user and
    redirect him to the sign in form.
#}



<section id="signup_created">
    <h1>🤗 Welcome !</h1>

    <p>{{ message }}</p>
    <br />
    <!--<a href="/manage/sign_in"><button>Sign in</button></a>-->
    <a disabled href="#"><button disabled>Sign in</button></a>
</section>

