{#
    This template provides a modal to display on error responses from the API.
#}

<dialog open id="errorMessage">
  <article>
    <header>
      <button aria-label="Close" rel="prev" hx-on:click="errorMessage.close()"></button>
      <p>
        <strong>❌ Oups, something went wrong!</strong>
      </p>
    </header>
    <p>
    {{ message }}
    </p>
  </article>
</dialog>


