<nav>
    <ul>
        <li><a href="/" style="text-decoration: none;"><h1>Nest 🪺</h1></a></li>
    </ul>
    <ul>
        <li><a href="/manage/sign_up">Sign up</a></li>
        <li><a href="/manage/sign_in">Sign in</a></li>
    </ul>
</nav>


