<nav>
    <a href="/"><h1>Nest 🪺</h1></a>
    <ul>
        <li><a href="/manage/sign_up">Sign up</a></li>
        <!--<li><a href="/manage/sign_in">Sign in</a></li>-->
        <li><a href="#" disabled>Sign in</a></li>
        <li>
            <details class="dropdown">
                <summary role="button">Theme</summary>
                <ul>
                    <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                    <li><a href="#" data-theme-switcher="light">Light</a></li>
                    <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>


